.card {
  padding: 10px;
  border-radius: 3px;
  text-align: left;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 12px;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-display-block {
  display: inline-block;
}

.card-title {
  margin: 0;
  font-size: calc(8px + 1vmin);
}

.card-time {
  font-size: 10px;
  width: 200px; 
  text-align: right;
}

.card-description {
  margin: 5px 0px;
  font-size: calc(6px + 1vmin);
}

