.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal-main {
  position:fixed;
  background: white;
  width: 38%;
  height: auto;
  top:50%;
  left:50%;
  border-radius: 5px;
  transform: translate(-50%,-50%);
}

.form {
  width: 90%;
  text-align: left;
  padding: 20px;
  font-size: calc(5px + 2vmin);
  margin: auto;
}

.form input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
}

.form input[type=button] {
  width: 100px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #f8f8ff;
  ;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: calc(6px + 1vmin); 
}

.form input[type=button]:hover {
  background-color: #f8f8ff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.form input[type="button"]:disabled {
  background-color: #f8f8ff;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.form-cancel-button {
  margin-left: 20px !important;
}