.search-container {
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  border-bottom: 2px solid #ccc;
}

.search-icon {
  padding: 10px;
  background: white;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.search-input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font: inherit;
  font-size: calc(10px + 1vmin); 
}