.modal-trigger-button {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #f8f8ff;
  outline: none;
  font: inherit;
  font-size: calc(10px + 1vmin); 
  cursor: pointer;
  text-align: left;
}

.modal-trigger-button:hover {
  background-color: #f8f8ff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}