.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 12px 12px;
}

.mid-section {
  padding: 0px 12px;
}

.post-section {
  padding: 12px 12px;
  overflow: hidden;
}